.root {
    // background-color: green;

    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header {
    height: 64px;
    background-color: aliceblue;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    // width: 100%;
}

.main {
    flex-grow: 1;

    display: flex; 
    flex-direction: row;
    padding: 0 16px;

    .category {
        width: 500px;
    }

    .category-details {
        // wi
    }
}

.bookmark-wrapper {
    border: 1px solid gray;
    padding: 10px;
    width: 100%;

    // background-color: green;
}